@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #ffffff;
    overflow-y: scroll;
}

/*Navbar*/

nav {
    background: #ffffff;
    height: 80px;
    position: relative;
}

.container {

    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    line-height: 80px;
    z-index: 100;
    margin-right: 100px;
}

.container-logo {
    z-index: 100;
    cursor: pointer;
    background: #4af884;
}

.container-logo h2 {
    margin-left: 10px;
    font-weight: 240px;
    font-size: 35px;
    letter-spacing: 2px;
    background: #4af884;
}

.container-logo h2 span {
    color: #ffffff;
    font-weight: 700;
    margin-right: 2vw;
    
}



.links .link {
    display: inline-block;
}

.links .link a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin: 0 25px;
    letter-spacing: 3px;
    font-weight: bold;
    transition: .3s;
}

.links .link a:hover {
    color: #ff4000;
}

.boton_sesion {
    background: #ff4000;
    color : #fff;
    border-radius: 5px;
    border-color: #ff4000;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    margin-left: 40px;
}

.boton_sesion:hover {
    background: #fff;
    color: #ff4000;
}

.toggle {
    color: #fff;
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.rotate {
    transform: rotate(180deg);
}


@media screen and (max-width: 915px){
    .toggle {
        display: inline-block;
    }

    .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #ff0077;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -1;
        top:-100vh    
    }

    .active {
        top: 80px;
    }

    .links .link :hover{
        background: #ec0808;
    }

    .container-logo {
        margin-left: 25px;
    }
}

.contenido{

    display:flex;
    max-width: 144vw;
    width: 100vw;
    height: 26vw;
   
    position: relative;
}

.prev{
    font-size: 0.9vw;
    color: #ffffff;
    background: #05b6fc;
    padding: 0.15vh;
    
    display: table-cell;
    padding: 0; 
    width: 20vw;
    height: 46vw;
    

}

.documentos{

    font-size: 1.5vw;
    color: #ffffff;
    padding: 0.15vh;
    
    display: table-cell;
    padding: 0; 
    width: 71.3vw;
    height: 46vw;

}
.barra{
   
    display: table-cell;
    padding: 0; 
    width: 71.3vw;
    height: 6vw;
    
    
}

.titulo{
    display: contents;
    margin-bottom: 2vw;
    margin-left: 5vw;
    font-size: 1.5vw;
    color: gray;
    
}







.letras-prev{
    margin-left: 2vw;
}
.letras-prev2{
    margin-left: 2vw;
    margin-top: 2vw;
}

.titulo-prev{
    margin-left: 2vw;
    margin-bottom: 2.5vw;
}

.letras-cod{
    margin-left: 2vw;
    margin-top: 5vw;
}

.documentosinv{

    font-size: 1.70vw;
    color: black;
    margin-top: 0.6vw;
    margin: 1vw;
}

.producto{
    color: #000000;
    text-align: center;
    width: 40vw;
    
   

}

.estado{
    color: #000000;
    text-align: center;
    width: 10vw;
    background: #fff;
   

}

.fecha{
    color: #000000;
    text-align: center;
    width: 30vw;
   

}

.cantidad{
    
    color: #000000;
    text-align: center;
    width: 10vw;
    height: 10vw;
   

}

.inventariotabla{
    
    width: 71.3vw;
    height: 46vw;
    
}

.imageneslibros{

    width: 7vw;
    height: 7vw;
}